body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: skyblue;
}

.top-bar {
  background: #222;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 40px;
  margin-top: 50px;
}

.start-btn {
  padding: 15px 30px;
  font-size: 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.menu {
  margin-top: 100px;
}

.menu a {
  display: block;
  margin: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
